input[type="file"] {
    // cacher le bouton de sélection de fichier
    &::-webkit-file-upload-button {
      display: none;
    }
    &::file-selector-button {
      // ajouter un arrière-plan et une bordure au bouton de sélection de fichier
      background-color: #fff;
      border: 1.5px solid var(--primary-2);
      padding: 5px 15px;
      border-radius: 10px;
      margin-right: 10px;
      cursor: pointer;
      // ajouter une ombre au survol du bouton de sélection de fichier
      &:hover {
        background-color: var(--primary-2);
        transition: 5ms;
        color: white;
       
      }
    }
  }
  