:root {
    --primary: #2cbe69; 
    --primary-2:#28b261;  
    --gray-1: #20232a;
    --gray-2: #fefefe;
    --gray-3: #efefef;
    --backGreen:  #edfcf1  ;  //#e3fcda #edfcf1  #f8faf9 f9fef8
    --font-family: 'Roboto', sans-serif;
    --font-family-lobster: 'Lobster', sans-serif;
    --box-shadow: 0 6px 9px 0 rgb(0 0 0 / 15%);
    --box-shadow-nav: rgb(0 0 0 / 22%) 0px 2px 18px 0px; 
    --text-color: #444;
    
}