
@use '../../assets/styles/mixins' as mixin;

.profile-container {
    display: flex;

    @include mixin.s {
       
        display: flex;
        flex-direction: column; // set flex direction to column
        align-items: center;
        justify-content: center;

      }
}


