
.appContainer {
    min-height: 100vh;
  }

  .contentCard {
    max-width: 1130px;
    width: 100%;
  }
  
  // .imageContainer {
  //   height: 350px;
  //   overflow: hidden;
  // }
  
  .fluid {
   max-width: 24%;
  
    overflow: hidden;
    border-radius: 20px;
  }