
.appContainer {
    min-height: 100vh;
  }

  .contentCard {
    max-width: 1130px;
    width: 100%;
    .imageContainer {
      height: 350px;
      overflow: hidden;
      .img-fluid {
        width: 50%;
        height: 30px;
        overflow: hidden;
        border-radius: 20px;
      }
    }
  }

