
.appContainer {
    min-height: 100vh;
  }

  .contentCard {
    max-width: 1130px;
    width: 100%;
  }
  
  .imageContainer {
    height: 350px;
    overflow: hidden;
  }
  
  .fluidPic {
    max-width: 84%;
    border-radius: 20px;
  }