@use '../../assets/styles/mixins' as mixin;

// .registerContainer {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   padding: 20px;

//   @include mixin.md {
//     padding: 40px;
//   }
// }

// .registerForm {
//   display: flex;
//   flex-direction: column;
//   width: 100%;

//   @include mixin.md {
//     width: 50%;
//   }
// }

// .registerInput {
//   margin-bottom: 20px;
//   width: 100%;

//   @include mixin.md {
//     margin-bottom: 40px;
//   }
// }

// .registerButton {
//   margin-top: 20px;
//   width: 100%;

//   @include mixin.md {
//     margin-top: 40px;
//   }
// }



.register {
    height: 100vh;
    
    .card {
      width: 50%;
      background-color: white;
      border-radius: 20px;
      min-height: 600px;
      overflow: hidden;
  
      .left {
        flex: 1;
        background: linear-gradient(90deg, rgba(105,169,131,0.7848389355742297) 5%, rgba(65,95,79,0.8072478991596639) 78%) ,
          url("https://images.pexels.com/photos/4881619/pexels-photo-4881619.jpeg?auto=compress&cs=tinysrgb&w=1600")
            center;
        background-size: cover;
        padding: 50px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        color: white;

        @include mixin.lg-lt {
          display: none;
        }
        
        
  
        h1 {
          font-size: 100px;
          line-height: 100px;
        }
        
  
  
        span {
          font-size: 14px;
        }
        
        button {
          width: 50%;
          padding: 12px;
          border: none;
          background-color: white;
          color: var(--primary-2);
          font-weight: bold;
          cursor: pointer;
        }
      }
  
      .right {
        flex: 1;
        padding: 50px;
        display: flex;
        flex-direction: column;
        gap: 50px;
        justify-content: center;
  
       
        
        form {
          display: flex;
          flex-direction: column;
          gap: 30px;
          
          input {
          border: none;
          border-bottom: 1px solid lightgray;
          padding: 20px 10px;
            &:focus {
              outline: none;
              border:1px solid #F4A256
            }
          }
          
          button {
            width: 50%;
            padding: 12px;
            border: none;
            color: white;
            font-weight: bold;
            cursor: pointer;
          }
        }
      }
    }
  }
  