// ProfileBio.module.scss

.list {
  width: 80%;
  margin: 20% 10% 10% 10% ;

  height: 80vh;
  padding: 20px;
  background-color: #fefefe;
  height: calc(100vh - 90px);

   border-radius: 20px;
  // box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

  h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }

  .flex-column {
    display: flex;
    flex-direction: column;
  }

  .mb-20 {
    margin-bottom: 20px;
  }

  label {
    font-weight: bold;
  }

  img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 55px;
  }

  button {
    background-color: #28b261;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 15px;
    cursor: pointer;
  }

  button:hover {
    background-color: #4cae66;
  }
}

.name {
  color: #494848;
  font-weight: bold;
  font-size: 2.0rem;
  margin-bottom: 25px;
}

.email {
  color: #666;
}
.label {

  margin-bottom: 15px;
}


